<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to Mytravelshield</title>
<%= stylesheet_link_tag  "vendors/bootstrap.css"%>
<%= stylesheet_link_tag  "vendors/owl.carousel.css"%>
<%= stylesheet_link_tag  "vendors/owl.theme.css"%>
<%= stylesheet_link_tag  "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"%>
<%= stylesheet_link_tag  "vendors/styles.css"%>
<%= stylesheet_link_tag  "vendors/responsive.css"%>
</head>
<body>
  <div class="header">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/visitors/index" class="navbar-brand logo"><img src="/logo.png"/></a>
          </div>
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <% @page.each do |page| %>
              <li><a href=<%=  page.url %>><%=  page.title %></a></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
<div class="main_banner">
    <div id="owl-demo" class="owl-carousel owl-theme">
    	<% @slider.each do |slider| %>
      <div class="item">
        <%=  image_tag slider.image_url %>
      </div> 
    <% end %>
    </div>
    <div class="banner-cont">
      <div class="container">
          <div class="banner-inner">
              <h1>Over <span>1.6 Billion</span> peoplete travel  internationally every year </h1>
              <p>leaving their safe ground at home.</p>
              <div class="banner-download">
              <a href="#" class="btn-download apple-icon">Download</a>
              <a href="#" class="btn-download android-icon">Download</a>
              <a href="#" class="btn-download learn-more">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="travel">
    <div class="container">
        <div class="row">
            <div class="travel-main text-center clearfix">
                <h2>My Travel Shield</h2>
                <p>is the world׳s One-Stop-APP for stressful medical and security situations,<br>creating Peace of Mind while traveling</p>
            </div>
        </div>
    </div>
</div>
<div class="travel-grid">
  <div class="travel-head clearfix">
      <div class="col-sm-7 col-lg-offset-1">
        <div class="travel-box clearfix">
            <div class="travel-gird-box travel-gird-first text-center">
              <div class="travel-icon"><img src="/travel-icon.png" alt=""></div>
               <h2>Who do I need to contact<br> for medical care?</h2>
            </div>
            <div class="travel-gird-box text-center">
              <div class="travel-icon"><img src="/travel-icon.png" alt=""></div>
               <h2>Is it covered by my<br> insurance?</h2>
            </div>
            <div class="travel-gird-box text-center">
              <div class="travel-icon"><img src="/travel-icon.png" alt=""></div>
               <h2>How will they know that<br> I’m allergic to…?</h2>
            </div>
        </div>
      </div>
  </div>
</div>
<div class="travelers">
    <div class="container">
        <div class="row">
            <div class="travelers-head clearfix">
                <div class="col-sm-3 right-padd">
                  <div class="travelers-iphone">
                      <img src="/iphone-img.png" alt="">
                  </div>
                </div>
                <div class="col-sm-9 left-padd">
                  <div class="travelers-right">
                    <h3>My Travel Shield is a <span>One-Stop-App</span></h3>
                    <h4>for travelers in time of need :</h4>
                      <ul>
                          <li>Contact  emergency services worldwide</li>
                          <li>Find and access medical service providers</li>
                          <li>Allow doctors to review vital medical profile</li>
                          <li>Activate travel insurance “on the go”</li>
                          <li>Manage traveler interactions  with the travel insurance company.</li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-solution">
	<div class="container">
		<div class="our-solution-gird clearfix">
			<div class="col-sm-6">
				<div class="solution-gird">
					<h2>Our Solution</h2>
					<p>Our mobile platform solution My Travel Shield is designed to provide  our customers peace of mind while traveling.</p>
					<p>Adressing stressfull situations, medical and others, with swift and accessible solutions.</p>
					<a href="#" class="btn-download learn-more">Solution Page</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="solution-img">
					<img src="/our-solution-img.png" alt="">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="our-people">
  <div class="container">
    <div class="col-sm-6">
      <div class="solution-img"><img src="/testimonial.png" alt=""/></div>
    </div>
    <div class="col-sm-6"></div>
    <% @testimonial.each do |testimonial| %>
    <div class="item">
      <div class="team_detailss_section border_none">
        <div class="team_avtaar_icon_shadow"></div>
        <div class="solution-gird">
          <p><%=  testimonial.testimonial.html_safe %></p>
          <div class="team_details_right">
            <hr/>
            <h5><%=  testimonial.client_name %></h5>
          </div>
          <div class="banner-cont"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="footer-part clearfix">
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-3">
          <div class="contact-info">
            <h3>Contact Info</h3>
            <ul>
              <li class="email-icon"><a href="http://www.evincedev.com/blog/">Blog </a></li>
            </ul>
            <div class="follow-us">
              <h3>Follow us :</h3>
              <ul class="social-links">
                <li><a href="https://www.facebook.com/EvinceDevelopment" class="fb-icon"></a></li>
                <li><a href="https://twitter.com/evincedev" class="twi-icon"></a></li>
                <li><a href="https://plus.google.com/+EvinceDevelopmentPvtLtd" class="gool-pul-icon"></a></li>
                <li><a href="https://www.linkedin.com/company/evince-development" class="link-icon"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5">
          <div class="contact-info">
            <h3>Availble on</h3>
            <div class="availble-download"><a href="#"><img src="/availble-download-iphone.png" alt=""/></a></div>
            <div class="availble-download"><a href="#"><img src="/availble-download-android.png" alt=""/></a></div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <div class="contact-info">
            <h3>Subscribe for newsleter</h3>
            <input placeholder="Enter your email address.." class="form-control subscribe-email"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="design-by text-center">Copyright © 2012 - 2017 . All Rights Reserved -<a href="http://www.evincedev.com/" rel="nofollow" target="_blank"> Evince Development Pvt.Ltd.</a>  <a href="http://www.evincedev.com/site-map">Sitemap</a></div>
    </div>
  </div>
</div>
<%= javascript_include_tag "vendors/jquery-1.11.2.min.js"%>
<%= javascript_include_tag "vendors/owl.carousel.js"%>
<%= javascript_include_tag "vendors/bootstrap.js"%>
<script type="text/javascript"> 
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({        
         items : 1,
            pagination:true,
            navigation:false,
            slideSpeed : 1000,
            singleItem :true,
            autoPlay:true 
        });
  });
   </script>
</body>
</html>