<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<title>Contact Us </title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag  "vendors/bootstrap/dist/css/bootstrap.min.css"%>
<%= stylesheet_link_tag  "vendors/font-awesome/css/font-awesome.min.css"%>
<%= stylesheet_link_tag  "vendors/nprogress/nprogress.css"%>
<%= stylesheet_link_tag  "vendors/iCheck/skins/flat/green.css"%>
<%= stylesheet_link_tag  "vendors/datatables.net-bs/css/dataTables.bootstrap.min.css"%>
<%= stylesheet_link_tag  "vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"%>
<%= stylesheet_link_tag  "vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"%>
<%= stylesheet_link_tag  "vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"%>
<%= stylesheet_link_tag  "vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css"%>
<%= stylesheet_link_tag  "build/css/custom.min.css"%>
</head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div style="border: 0;" class="navbar nav_title"><%= link_to 'Evince!', authenticated_root_path, class: 'site_title' %></div>
          <div class="clearfix"></div>
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
                <li><a><i class="fa fa-edit"></i> User Management <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><%= link_to 'Manage Users', users_path %></li>
                    <li><%= link_to 'Manage Roles', role_index_path %></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> CMS <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><%= link_to 'Manage Pages', pagess_index_path %></li>
                    <li><%= link_to 'Manage Testimonial', testimonial_index_path %></li>
                <li><%= link_to 'Manage Sliders', slider_index_path %></li>
                <li><%= link_to 'Manage Team', team_index_path %></li>
                    <li><%= link_to 'Manage Content', content_index_path %></li>
                    <li><%= link_to 'Manage About Data', about_index_path %></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> General Configuration <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><%= link_to 'General', config_index_path   %></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> Contact US <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><%= link_to 'Enquiry', enquiry_index_path   %></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu-->
          <!-- /menu footer buttons-->
           <div class="sidebar-footer hidden-small"><a data-toggle="tooltip" data-placement="top" title="Settings"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span></a><a data-toggle="tooltip" data-placement="top" title="FullScreen"><span aria-hidden="true" class="glyphicon glyphicon-fullscreen"></span></a><a data-toggle="tooltip" data-placement="top" title="Lock"><span aria-hidden="true" class="glyphicon glyphicon-eye-close"></span></a><a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout"><span aria-hidden="true" class="glyphicon glyphicon-off"></span></a></div>
          <!-- /menu footer buttons-->
        </div>
      </div>
      <!-- top navigation-->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle"><a id="menu_toggle"><i class="fa fa-bars"></i></a></div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <li><div id="btn-logout"><%= link_to "Log out",users_destroyy_path, class: 'navbar-btn btn btn-primary' %></div></li>
                    
                  </a>
                  
                    
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    
                  </a>
                <ul id="menu1" role="menu" class="dropdown-menu list-unstyled msg_list">
                  <li><a><span class="image"><img src="images/img.jpg" alt="Profile Image"/></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                  <li><a><span class="image"><img src="images/img.jpg" alt="Profile Image"/></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                  <li><a><span class="image"><img src="images/img.jpg" alt="Profile Image"/></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                  <li><a><span class="image"><img src="images/img.jpg" alt="Profile Image"/></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                  <li>
                    <div class="text-center"><a><strong>See All Alerts</strong><i class="fa fa-angle-right"> </i></a></div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation-->
      <!-- page content-->
      <div role="main" class="right_col">
        <div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panelll">
                <div class="x_title">
                  <h2>Contact Us</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-wrench"></i></a>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Settings 1</a></li>
                        <li><a href="#">Settings 2</a></li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30">
                    <label></label>
                  <table id="datatable-checkbox" class="table mytable table-striped table-bordered bulk_action">
                    <thead>
                      <tr>
                        <th type="hidden" value="ID">
                          <input id="check-all" type="checkbox" class="flat"/>
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @contact.each do |contact| %>
                        <tr>
                          <td type="hidden" value=<%=  contact.id %> class="chnagevalue">
                            <input id="check" type="checkbox" name="table_records" value= <%=  contact.id %>>
                          </td>
                          <td><%=  contact.id %></td>
                          <td><%=  contact.name %></td>
                          <td><%=  contact.email_field %></td>
                          <td><%=  contact.phone_number %></td>
                          <td><%= link_to 'SHOW', edit_enquiry_path(contact), :class => "btn btn-danger" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content-->
      <!-- footer content-->
      <footer>
        <div class="copyright-text">Copyright © 2012 - 2017 . All Rights Reserved -<a href="http://www.evincedev.com/" rel="nofollow" target="_blank"> Evince Development Pvt.Ltd.</a>  <a href="site-map">Sitemap</a></div>
        <div class="clearfix"></div>
      </footer>
    </div>
  </div>
<%= javascript_include_tag "vendors/jquery/dist/jquery.min.js"%>
<%= javascript_include_tag "vendors/jquery-2.2.3.min.js"%>
<%= javascript_include_tag "vendors/bootstrap/dist/js/bootstrap.min.js"%>
<%= javascript_include_tag "vendors/fastclick/lib/fastclick.js"%>   
<%= javascript_include_tag "vendors/nprogress/nprogress.js"%>
<%= javascript_include_tag "vendors/iCheck/icheck.min.js"%>
<%= javascript_include_tag "vendors/datatables.net/js/jquery.dataTables.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-buttons/js/dataTables.buttons.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-buttons/js/buttons.flash.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-buttons/js/buttons.html5.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-buttons/js/buttons.print.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-responsive/js/dataTables.responsive.min.js"%>
<%= javascript_include_tag "vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"%>
<%= javascript_include_tag "vendors/datatables.net-scroller/js/dataTables.scroller.min.js"%>
<%= javascript_include_tag "vendors/jszip/dist/jszip.min.js"%>
<%= javascript_include_tag "vendors/pdfmake/build/pdfmake.min.js"%>
<%= javascript_include_tag "vendors/pdfmake/build/vfs_fonts.js"%>   
<%= javascript_include_tag "build/js/custom.min.js"%>
<%= javascript_include_tag "vendors/jquery.form.min.js"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>